<nav class="navbar navbar-expand-lg navbar-light bg-light ui small secondary menu shadow-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="item">
        <img src="assets/img/login.ico" alt="">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="active item" href="index.html">
            <i class="home icon"></i> Home
        </a>
        <a class="item " href="#contact">
            <i class="mail icon"></i> Contact Us
        </a>
        <a class="item" routerLink="/countries">
            <i class=" calendar times icon "></i>Countries
        </a>
        <div class="right menu ">
            <div class="item ">
                <div class="ui icon input ">
                    <input type="text " placeholder="Search... ">
                    <i class="search link icon "></i>
                </div>
            </div>
            <div class="ui dropdown item ">
                <a href="#faq ">
                    Help FAQ<i class="question circle icon "></i>
                </a>
            </div>
            <!-- <div class="item ">
                <div class="appointment-btn scrollto button " routerLink="/sign-up "><i class="unlock icon "></i>Login</div>
            </div> -->
        </div>
    </div>
</nav>