<main id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-thermometer-alt" style="color: tomato;"></i></div>
                        <h4 class="title"><a>Total Confirmed Cases</a></h4>
                        <p class="description"><strong>{{totalConfirmed}}</strong>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-drug"></i></div>
                        <h4 class="title"><a>Total Recovered Cases</a></h4>
                        <p class="description"><strong>{{totalRecovered}}</strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-heart-beat" style="color: red;"></i></div>
                        <h4 class="title">
                            <a>Total Deaths Cases</a>
                        </h4>
                        <p class="description"><strong>{{totalDeaths}}</strong>
                        </p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-dna-alt-1"></i></div>
                        <h4 class="title">
                            <a href="">Active Information</a>
                        </h4>
                        <p class="description"><strong>{{totalActive}}</strong></p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Featured Services Section -->
</main>